html, body {
    background-image: url("imgs/space.png");
    background-repeat: repeat;
    color: white;
    background-color: black;
    margin: 0;
}

a {
    color: #6fff9c;
}

p {
    font-size: 1.3rem;
}

.container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.centered {
    margin: 0 auto;
    text-align: center;
}

.box {
    background: rgba(13, 23, 67, 0.9);
    width: 100%;
    max-width: 800px;
    padding: 40px;
}

.skel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #ff423a;
}

.postoffice {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
